language: objective-c
osx_image: xcode9.2
xcode_workspace: FlickerImageApp.xcodeproj # path to your xcodeproj folder
xcode_scheme: FlickerImageApp

branches:
  only:
    - master
env:
  - LC_CTYPE=en_US.UTF-8 LANG=en_US.UTF-8
before_install:
  - rvm install ruby-2.2.2
  - gem install cocoapods
  - gem install xcpretty -N
