language: swift
osx_image: xcode9.2
script:
    - xcodebuild clean test -workspace FlickerImageApp.xcworkspace -scheme FlickerImageApp -destination "platform=iOS Simulator,name=iPhone 8,OS=11.0" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO -quiet