language: swift
os: osx
osx_image: xcode9.2
script:
    - xcodebuild clean test -workspace FlickerImageApp.xcworkspace -scheme FlickerImageApp -destination "platform=iOS Simulator,name=iPhone SE,OS=11.2" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO -quiet